<!DOCTYPE html>
<html>
<head>
  <title>Authentication</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body class="grey lighten-3">
  <div class="container">
    <div class="row" style="margin-top: 100px;">
      <div class="col s12 m6 offset-m3">
        <div class="card">
          <div class="card-content">
            {{{ body }}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="/javascripts/materialize.js"></script>
  <script src="/javascripts/validation.js"></script>
</body>
</html>