<center>
  <h1>Welcome back, {{ username }}!</h1>
  <h3>Role: {{ role }}</h3>
  <br>
  <a href="/product" class="btn btn-large teal">View Products</a>
  <br><br>
  <a href="/category" class="btn btn-large blue">View Categories</a>
</center>