<form action="" method="post">
  <h1>Edit product</h1>
  <input type="text" name="name" required
  placeholder="Enter product name"
  value="{{product.name}}">
  <br><br>
  <input type="text" name="price" required
  placeholder="Enter product price"
  value="{{product.price}}">
  <br><br>
  <input type="text" name="image" required
  placeholder="Enter product image"
  value="{{product.image}}">
  <br><br>
  <input type="text" name="category" required
  placeholder="Enter product category"
  value="{{product.category}}">
  <br><br>
  <input type="submit" value="Edit">
</form>